<h2> Python Basics

I. Cobalah print kalimat "Hello, my name is ***nama anda***" dengan minimal 2 cara: <br>
a.   Print biasa (nama diletakkan langsung dalam string yang di print)<br>
b.  Menggunakan variabel (nama disimpan dulu di variabel)<br>
c.  Menggunakan operator dan variabel<br>
d.  Menggunakan .format()

In [1]:
print("Hello, my name is KENZU")
nama = "KENZU"
print("Hello, my name is " + nama)

Hello, my name is KENZU
Hello, my name is KENZU

II. Selesaikan soal cerita berikut menggunakan python:<br>
a.  Jose membeli 4 kotak kelereng, tiap kotak berisi 15 buah kelereng. Kelereng itu akan dibagikan kepada 12 orang temannya, setiap teman akan mendapat ... kelereng.<br>
b.  Hasil dari 8 pangkat 1/3 adalah ...<br>
c.  Eillen memiliki uang sebesar Rp 50.000 untuk dibelanjakan kertas binder, 1 paket kertas binder isi 100 lembar dijual seharga 7500, jika ia ingin membeli berapa kertas binder yang dapat ia beli dengan uang yang ia punya? Berapa kembalian yang diterima?

In [47]:
# Jumlah kotak dan kelereng per kotak
print("A.")
kotak = 4
kelereng_per_kotak = 15

# Total kelereng
total_kelereng = kotak * kelereng_per_kotak

# Jumlah teman
teman = 12

# Kelereng per teman
kelereng_per_teman = total_kelereng // teman
print("Setiap teman akan mendapat", kelereng_per_teman, "kelereng.")





# Menghitung pangkat
hasil_pangkat = 8 ** (1/3)
print("Hasil dari 8 pangkat 1/3 adalah", hasil_pangkat)





# Uang yang dimiliki Eillen dan harga kertas binder
uang = 50000
harga_kertas_binder = 7500

# Menghitung jumlah kertas binder yang dapat dibeli
jumlah_kertas_binder = uang // harga_kertas_binder

# Menghitung total pengeluaran dan kembalian
total_pengeluaran = jumlah_kertas_binder * harga_kertas_binder
kembalian = uang - total_pengeluaran

print("Eillen dapat membeli", jumlah_kertas_binder, "paket kertas binder.")
print("Kembalian yang diterima adalah Rp", kembalian)

A.
Setiap teman akan mendapat 5 kelereng.
Hasil dari 8 pangkat 1/3 adalah 2.0
Eillen dapat membeli 6 paket kertas binder.
Kembalian yang diterima adalah Rp 5000

III. Tunjukan cara untuk mengonversi tipe-tipe data berikut:

1. "1000" -> 1000 (string ke int)
2. 5.25 -> 5 (float ke int)
3. 5 -> 5.0 (int ke float)
4. 1000 -> "1000" (int ke string)

Expected output:


![image.png]()

In [4]:
# Konversi string ke int
string_to_int = int("1000")
print(string_to_int, type(string_to_int))

# Konversi float ke int
float_to_int = int(5.25)
print(float_to_int, type(float_to_int))

# Konversi int ke float
int_to_float = float(5)
print(int_to_float, type(int_to_float))

# Konversi int ke string
int_to_string = str(1000)
print(int_to_string, type(int_to_string))

1000 <class 'int'>
5 <class 'int'>
5.0 <class 'float'>
1000 <class 'str'>

IV. String

"If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."

1. Tampilkan indeks ke 20 sampai 30 dari string di atas (indeks ke 30 ikut)
2. Bagaimana cara memisah string berdasarkan spasi (simpan dalam list)
3. Balik string di atas dengan menggunakan satu baris kode (menggunakan index)

In [6]:
quote = "If you want to know what a man's like, take a good look at how he treats his inferiors, not his equals."
substring = quote[20:31]  # Indeks 30 ikut
print(substring)




words_list = quote.split()
print(words_list)





reversed_quote = quote[::-1]
print(reversed_quote)

what a man'
['If', 'you', 'want', 'to', 'know', 'what', 'a', "man's", 'like,', 'take', 'a', 'good', 'look', 'at', 'how', 'he', 'treats', 'his', 'inferiors,', 'not', 'his', 'equals.']
.slauqe sih ton ,sroirefni sih staert eh woh ta kool doog a ekat ,ekil s'nam a tahw wonk ot tnaw uoy fI

<h2> Python Data Strcutures

I. Tuple


1.   Buatlah sebuah tuple yang berisikan nama prodi di UC, simpan dalam variabel "Prodi".
2.   Cetaklah panjang tuple yang dibuat.
3.   Gunakan .index() untuk mengetahui posisi/index prodi ISB

In [7]:
# Membuat tuple dengan nama prodi di UC
Prodi = ("Ilmu Komputer", "Sistem Informasi", "Teknik Informatika", "Sistem Bisnis", "Desain Komunikasi Visual")

# Mencetak panjang tuple
print("Panjang tuple Prodi:", len(Prodi))

# Mencari posisi/index prodi ISB
index_isb = Prodi.index("Sistem Bisnis")
print("Index prodi ISB:", index_isb)

Panjang tuple Prodi: 5
Index prodi ISB: 3

II. List


1.   Buatlah sebuah list berisi 3 nama makanan kesukaanmu. Simpan dalam variabel "favorit".
2.   Cetak nama setiap makanan dengan mengakses setiap elemen dalam list satu persatu.
3. Kamu sedang berada di sebuah restoran dan hendak memesan salah satu menu yang ada dalam daftar favoritmu. Cetak setiap makanan dengan contoh: "Aku ingin pesan {nama makanan}"
4.   Ternyata, salah satu menu tidak tersedia, jadi kamu perlu memesan makanan lain. Ganti makanan yang kosong dengan nama makanan baru (makanan yang mana bebas)

In [8]:
# Membuat list berisi 3 nama makanan kesukaan
favorit = ["Pizza", "Sushi", "Bakso"]

# Mencetak nama setiap makanan
for makanan in favorit:
    print(makanan)

# Mencetak pesan untuk memesan setiap makanan
for makanan in favorit:
    print(f"Aku ingin pesan {makanan}")

# Mengganti salah satu makanan yang tidak tersedia
# Misalnya, kita anggap Sushi tidak tersedia, kita ganti dengan "Nasi Goreng"
favorit[1] = "Nasi Goreng"

# Mencetak daftar makanan setelah penggantian
print("\nSetelah penggantian, daftar makanan favorit:")
for makanan in favorit:
    print(makanan)

Pizza
Sushi
Bakso
Aku ingin pesan Pizza
Aku ingin pesan Sushi
Aku ingin pesan Bakso

Setelah penggantian, daftar makanan favorit:
Pizza
Nasi Goreng
Bakso

III. Set

1. Buatlah 4 buah set sebagai berikut


    set1 = {1, 2, 3, 4}
    set2 = {2, 4, 6, 8}
    set3 = {5, 7}
    set4 = {2, 3}
2. Gabungkan set1 dan set2 dengan menghilangkan duplicates
3. Buktikan set1 dan set3 tidak mempunyai intersection (output : Boolean)
4. Buktikan set4 adalah bagian dari set1 (output : Boolean)

In [9]:
# Membuat set
set1 = {1, 2, 3, 4}
set2 = {2, 4, 6, 8}
set3 = {5, 7}
set4 = {2, 3}

# Menggabungkan set1 dan set2 dengan menghilangkan duplicates
gabungan = set1.union(set2)
print("Gabungan set1 dan set2:", gabungan)

# Membuktikan set1 dan set3 tidak mempunyai intersection
intersection_set1_set3 = set1.intersection(set3)
print("Set1 dan Set3 tidak mempunyai intersection:", len(intersection_set1_set3) == 0)

# Membuktikan set4 adalah bagian dari set1
is_subset = set4.issubset(set1)
print("Set4 adalah bagian dari set1:", is_subset)

Gabungan set1 dan set2: {1, 2, 3, 4, 6, 8}
Set1 dan Set3 tidak mempunyai intersection: True
Set4 adalah bagian dari set1: True

<h2> Python Programming Fundamentals

I. Buatlah sebuah program sederhana yang meminta inputan dari user berupa jumlah penggunaan listrik dan menghasilkan output berupa tarif yang harus dibayar dengan syarat sebagai berikut:

PLN menerapkan pembayaran listrik perumahan dengan perhitungan sebagai berikut:
* untuk golongan 1 (penggunaan <1000 kWh) tarif : Rp1000/kWh
* untuk golongan 2 (penggunaan >= 1000 kWh) tarif : Rp2000/kWh

Dengan syarat perhitungan:

Minimum pembayaran adalah 100 kWh sedangkan untuk pemakaian 1000 kWh dan seterusnya tarifnya ditambah 10% dari total pembayaran.

(Jika total penggunaan <100 kWh, maka akan dikenakan tarif 100 kWh)

In [10]:
# Meminta input dari user
penggunaan = float(input("Masukkan jumlah penggunaan listrik (dalam kWh): "))

# Menentukan tarif dan minimum penggunaan
if penggunaan < 100:
    penggunaan = 100  # Minimum pembayaran adalah 100 kWh

# Menghitung tarif
if penggunaan < 1000:
    tarif = 1000  # Tarif untuk golongan 1
else:
    tarif = 2000  # Tarif untuk golongan 2

# Menghitung total pembayaran
total_pembayaran = penggunaan * tarif

# Jika penggunaan >= 1000 kWh, tambah 10% dari total pembayaran
if penggunaan >= 1000:
    total_pembayaran *= 1.1

# Menampilkan hasil
print(f"Total penggunaan listrik: {penggunaan} kWh")
print(f"Total tarif yang harus dibayar: Rp{total_pembayaran:.2f}")

Masukkan jumlah penggunaan listrik (dalam kWh): 30
Total penggunaan listrik: 100 kWh
Total tarif yang harus dibayar: Rp100000.00

II. Untuk Abdimas Oweek UC digunakan angkot dengan kapasitas 10 orang per angkot. Apabila terjadi kelebihan penumpang (walau hanya 1 orang), angkot yang digunakan ditambah 1. Tulislah program untuk menghitung jumlah angkot yang diperlukan bila jumlah pesertanya menggunakan input().

Catatan, pastikan jika angka yang dimasukkan negatif, muncul peringatan "Jumlah orang tidak bisa negatif!"

In [11]:
# Meminta input dari user
jumlah_peserta = int(input("Masukkan jumlah peserta: "))

# Memeriksa apakah jumlah peserta negatif
if jumlah_peserta < 0:
    print("Jumlah orang tidak bisa negatif!")
else:
    # Menghitung jumlah angkot yang diperlukan
    kapasitas_angkot = 10
    jumlah_angkot = (jumlah_peserta // kapasitas_angkot) + (1 if jumlah_peserta % kapasitas_angkot != 0 else 0)

    # Menampilkan hasil
    print(f"Jumlah angkot yang diperlukan: {jumlah_angkot}")

Masukkan jumlah peserta: 30
Jumlah angkot yang diperlukan: 3

<h2> Numpy

1. Buatlah 1D numpy array berisi nama nama hari dalam satu minggu
2. Gunakan sort untuk mengurutkan array sesuai abjad
3. Gunakan rand untuk mengambil 1 hari dari array, cetakhlah dalam format: "Selamat hari \<nama hari\> adalah hari baikmu bulan ini!"
4. Buatlah matriks 3x4 menggunakan numpy array berisi angka 1-6, lalu cetak shape dan dimensi array
5. Cetaklah elemen kolom ketiga dari matrix

    [[1 ,2, 3, 4],

    [5, 6, 7, 8],

    [9, 10, 11, 12]]
6. Gunakan reshape untuk mengubah matrix di atas menjadi matriks berukuran (2, 6)

In [12]:
# 1
['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu']

['Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu', 'Minggu']

In [14]:
# 2
['Jumat', 'Kamis', 'Minggu', 'Rabu', 'Sabtu', 'Selasa', 'Senin']

['Jumat', 'Kamis', 'Minggu', 'Rabu', 'Sabtu', 'Selasa', 'Senin']

In [18]:
import random
# 3
import numpy as np

# Membuat array nama-nama hari
days_of_week = np.array(["Senin", "Selasa", "Rabu", "Kamis", "Jumat", "Sabtu", "Minggu"])

# Menggunakan np.random.rand untuk menghasilkan nilai acak antara 0 dan 1
random_index = int(np.random.rand() * len(days_of_week))

# Mengambil hari acak
random_day = days_of_week[random_index]

# Format output
message = f"Selamat hari {random_day}, adalah hari baikmu bulan ini!"
print(message)

Selamat hari Minggu, adalah hari baikmu bulan ini!

In [19]:
# 4
import numpy as np

# Membuat matriks 3x4 berisi angka 1-6 yang diulang
matrix = np.tile(np.array([1, 2, 3, 4, 5, 6]), (2, 2))[:3, :4]

# Mendapatkan shape dan dimensi array
shape_of_matrix = matrix.shape
dim_of_matrix = matrix.ndim

matrix, shape_of_matrix, dim_of_matrix

(array([[1, 2, 3, 4],
        [1, 2, 3, 4]]),
 (2, 4),
 2)

In [20]:
# 5

import numpy as np

# Membuat matriks
matrix = np.array([[1, 2, 3, 4],
                   [5, 6, 7, 8],
                   [9, 10, 11, 12]])

# Mengambil elemen dari kolom ketiga
column_third = matrix[:, 2]

# Cetak hasil
print("Elemen kolom ketiga:", column_third)

Elemen kolom ketiga: [ 3  7 11]

In [21]:
# 6
import numpy as np

# Membuat matriks
matrix = np.array([[1, 2, 3, 4],
                   [5, 6, 7, 8],
                   [9, 10, 11, 12]])

# Mengubah bentuk matriks menjadi (2, 6)
reshaped_matrix = matrix.reshape(2, 6)

# Cetak hasil
print("Matriks setelah reshape:\n", reshaped_matrix)

Matriks setelah reshape:
 [[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]]

<h2> Pandas

1. Buatlah Pandas Series dari list ["Information", "Systems", "for", "Business"]
2. Buatlah Pandas Dataframe dari dictionary
{ "brand": "Ford", "model": "Mustang", "year": 1964 }

In [23]:
import pandas as pd

# Membuat Series
data_list = ["Information", "Systems", "for", "Business"]
series = pd.Series(data_list)

print(series)




# Membuat DataFrame
data_dict = { "brand": "Ford", "model": "Mustang", "year": 1964 }
dataframe = pd.DataFrame([data_dict])  # Membungkus dictionary dalam list

print(dataframe)

0    Information
1        Systems
2            for
3       Business
dtype: object
  brand    model  year
0  Ford  Mustang  1964

3. Import dataset berikut kedalam dataframe.    
dataset : https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv
4. Tunjukan kota apa saja yang ada dalam dataset tersebut
5. Buatlah dataset baru yang menyimpan 10 row random dari dataset. Kemudian tunjukanlah 5 row pertamanya.
6. Gunakan df.info() untuk melihat informasi singkat dari dataframe
7. Tampilkan data 'R&D Spend' dan 'Marketing Spend' dari data yang berasal dari kota 'California'
8. Temukan apa ada missing value dari setiap kolom
9. Drop data yang memiliki profit di bawah 50000
10. Urutkan Dataframe berdasarkan biaya marketing mulai dari terbesar ke terkecil

In [30]:
# 3

import pandas as pd

# Mengimpor dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"
dataframe = pd.read_csv(url)

# Menampilkan beberapa baris pertama dari DataFrame
dataframe.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [33]:
# 4
import pandas as pd

# Mengimpor dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"
dataframe = pd.read_csv(url)

# Menampilkan nilai unik dari kolom 'City'
unique_cities = dataframe['State'].unique()
print(unique_cities)

['New York' 'California' 'Florida']

In [35]:
# 5
import pandas as pd

# Mengimpor dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"
dataframe = pd.read_csv(url)

# Mengambil 10 baris acak
random_sample = dataframe.sample(n=10, random_state=1)  # random_state untuk reproduktif

# Menyimpan dataset baru ke dalam DataFrame
new_dataset = random_sample.reset_index(drop=True)

# Menampilkan 5 baris pertama dari dataset baru
print(new_dataset.head())

   R&D Spend  Administration  Marketing Spend       State     Profit
0   72107.60       127864.55        353183.81    New York  105008.31
1   46014.02        85047.44        205517.64    New York   96479.51
2   28754.33       118546.05        172795.67  California   78239.91
3   20229.59        65947.93        185265.10    New York   81229.06
4  153441.51       101145.55        407934.54     Florida  191050.39

In [36]:
# 6
import pandas as pd

# Mengimpor dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"
dataframe = pd.read_csv(url)

# Menampilkan informasi singkat dari DataFrame
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [37]:
# 7
import pandas as pd

# Mengimpor dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"
dataframe = pd.read_csv(url)

# Memfilter data untuk kota 'California'
california_data = dataframe[dataframe['State'] == 'California']

# Memilih kolom 'R&D Spend' dan 'Marketing Spend'
result = california_data[['R&D Spend', 'Marketing Spend']]

# Menampilkan hasil
print(result)

    R&D Spend  Marketing Spend
1   162597.70        443898.53
6   134615.46        127716.82
9   123334.88        304981.62
11  100671.96        249744.55
13   91992.39        252664.93
16   78013.11        264346.06
20   76253.86        298664.47
25   64664.71        137962.62
32   63408.86         46085.25
34   46426.07        210797.67
37   44069.95        197029.42
39   38558.51        174999.30
40   28754.33        172795.67
42   23640.93        148001.11
44   22177.74         28334.72
47       0.00             0.00
49       0.00         45173.06

In [38]:
# 8
import pandas as pd

# Mengimpor dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"
dataframe = pd.read_csv(url)

# Memeriksa missing values di setiap kolom
missing_values = dataframe.isnull().sum()

# Menampilkan jumlah missing values per kolom
print(missing_values)

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

In [39]:
# 9
import pandas as pd

# Mengimpor dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"
dataframe = pd.read_csv(url)

# Menghapus data dengan 'Profit' di bawah 50000
filtered_dataframe = dataframe[dataframe['Profit'] >= 50000]

# Menampilkan hasil
print(filtered_dataframe)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
6   134615.46       147198.87        127716.82  California  156122.51
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
10  101913.08       110594.11        229160.95     Florida  146121.95
11  100671.96        91790.61        249744.55  California  144259.40
12   93863.75       127320.38        249839.44     Florida  141585.52
13   91992.39       135495.07        252664.93  California  134307.35
14  119943.24       156547.42        256512.92     Florida  132602.65
15  114523.61       122616.84        261776.23    New York  129917.04
16   78013.11       121597.55        264346.06  California  126992.93
17   94657.16       145077.58        282574.31    New York  125370.37
18   91749.16       114175.79        294919.57     Florida  124266.90
19   86419.70       153514.11             0.00    New York  122776.86
20   76253.86       113867.30        298664.47  California  118474.03
21   78389.47       153773.43        299737.29    New York  111313.02
22   73994.56       122782.75        303319.26     Florida  110352.25
23   67532.53       105751.03        304768.73     Florida  108733.99
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
27   72107.60       127864.55        353183.81    New York  105008.31
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08

In [40]:
# 10
import pandas as pd

# Mengimpor dataset
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/50_Startups.csv"
dataframe = pd.read_csv(url)

# Mengurutkan DataFrame berdasarkan 'Marketing Spend' dari terbesar ke terkecil
sorted_dataframe = dataframe.sort_values(by='Marketing Spend', ascending=False)

# Menampilkan hasil
print(sorted_dataframe)

    R&D Spend  Administration  Marketing Spend       State     Profit
0   165349.20       136897.80        471784.10    New York  192261.83
1   162597.70       151377.59        443898.53  California  191792.06
2   153441.51       101145.55        407934.54     Florida  191050.39
3   144372.41       118671.85        383199.62    New York  182901.99
4   142107.34        91391.77        366168.42     Florida  166187.94
5   131876.90        99814.71        362861.36    New York  156991.12
27   72107.60       127864.55        353183.81    New York  105008.31
7   130298.13       145530.06        323876.68     Florida  155752.60
8   120542.52       148718.95        311613.29    New York  152211.77
9   123334.88       108679.17        304981.62  California  149759.96
23   67532.53       105751.03        304768.73     Florida  108733.99
22   73994.56       122782.75        303319.26     Florida  110352.25
21   78389.47       153773.43        299737.29    New York  111313.02
20   76253.86       113867.30        298664.47  California  118474.03
46    1315.46       115816.21        297114.46     Florida   49490.75
18   91749.16       114175.79        294919.57     Florida  124266.90
17   94657.16       145077.58        282574.31    New York  125370.37
16   78013.11       121597.55        264346.06  California  126992.93
15  114523.61       122616.84        261776.23    New York  129917.04
14  119943.24       156547.42        256512.92     Florida  132602.65
13   91992.39       135495.07        252664.93  California  134307.35
12   93863.75       127320.38        249839.44     Florida  141585.52
11  100671.96        91790.61        249744.55  California  144259.40
10  101913.08       110594.11        229160.95     Florida  146121.95
33   55493.95       103057.49        214634.81     Florida   96778.92
34   46426.07       157693.92        210797.67  California   96712.80
35   46014.02        85047.44        205517.64    New York   96479.51
36   28663.76       127056.21        201126.82     Florida   90708.19
37   44069.95        51283.14        197029.42  California   89949.14
38   20229.59        65947.93        185265.10    New York   81229.06
39   38558.51        82982.09        174999.30  California   81005.76
40   28754.33       118546.05        172795.67  California   78239.91
41   27892.92        84710.77        164470.71     Florida   77798.83
42   23640.93        96189.63        148001.11  California   71498.49
24   77044.01        99281.34        140574.81    New York  108552.04
25   64664.71       139553.16        137962.62  California  107404.34
26   75328.87       144135.98        134050.07     Florida  105733.54
6   134615.46       147198.87        127716.82  California  156122.51
28   66051.52       182645.56        118148.20     Florida  103282.38
29   65605.48       153032.06        107138.38    New York  101004.64
30   61994.48       115641.28         91131.24     Florida   99937.59
31   61136.38       152701.92         88218.23    New York   97483.56
32   63408.86       129219.61         46085.25  California   97427.84
49       0.00       116983.80         45173.06  California   14681.40
43   15505.73       127382.30         35534.17    New York   69758.98
44   22177.74       154806.14         28334.72  California   65200.33
45    1000.23       124153.04          1903.93    New York   64926.08
19   86419.70       153514.11             0.00    New York  122776.86
47       0.00       135426.92             0.00  California   42559.73
48     542.05        51743.15             0.00    New York   35673.41

<h2> Data Cleaning

1. Import dataset berikut ke dalam dataframe.   
   dataset : https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv
2. Tampilkan 10 data random dari dataset di atas
3. Cari informasi data dengan menggunakan fungsi describe
4. Hapus kolom 'No' dan ubahlah nama kolom dalam dataframe menjadi 'transaction date', 'house age', 'distance to the nearest MRT station', 'number of convinience stores', 'latitude', 'longitude', 'house price of unit area'
5. Cek apakah ada missing values dari masing-masing kolom

In [41]:
# 1
import pandas as pd

# Mengimpor dataset dari URL
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv"
data = pd.read_csv(url)

# Menampilkan 5 baris pertama dari DataFrame
print(data.head())

   No  X1 transaction date  X2 house age  \
0   1             2012.917          32.0
1   2             2012.917          19.5
2   3             2013.583          13.3
3   4             2013.500          13.3
4   5             2012.833           5.0

   X3 distance to the nearest MRT station  X4 number of convenience stores  \
0                                84.87882                               10
1                               306.59470                                9
2                               561.98450                                5
3                               561.98450                                5
4                               390.56840                                5

   X5 latitude  X6 longitude  Y house price of unit area
0     24.98298     121.54024                        37.9
1     24.98034     121.53951                        42.2
2     24.98746     121.54391                        47.3
3     24.98746     121.54391                        54.8
4     24.97937     121.54245                        43.1

In [42]:
# 2
import pandas as pd

# Mengimpor dataset dari URL
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv"
data = pd.read_csv(url)

# Menampilkan 10 data random
random_data = data.sample(n=10)
print(random_data)

      No  X1 transaction date  X2 house age  \
413  414             2013.500           6.5
383  384             2012.667          29.1
71    72             2013.083          35.5
59    60             2013.083          13.3
206  207             2013.250          22.2
107  108             2013.333          12.2
286  287             2012.917           5.9
235  236             2012.750          12.9
241  242             2013.500          13.7
194  195             2013.500          15.2

     X3 distance to the nearest MRT station  X4 number of convenience stores  \
413                                90.45606                                9
383                               506.11440                                4
71                                640.73910                                3
59                                336.05320                                5
206                               379.55750                               10
107                              1360.13900                                1
286                                90.45606                                9
235                               250.63100                                7
241                               250.63100                                7
194                              3771.89500                                0

     X5 latitude  X6 longitude  Y house price of unit area
413     24.97433     121.54310                        63.9
383     24.97845     121.53889                        40.3
71      24.97563     121.53715                        40.8
59      24.95776     121.53438                        42.4
206     24.98343     121.53762                        44.0
107     24.95204     121.54842                        26.6
286     24.97433     121.54310                        56.3
235     24.96606     121.54297                        39.3
241     24.96606     121.54297                        41.4
194     24.93363     121.51158                        29.3

In [43]:
# 3
import pandas as pd

# Mengimpor dataset dari URL
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv"
data = pd.read_csv(url)

# Menggunakan describe untuk mendapatkan informasi statistik
description = data.describe()

# Menampilkan informasi deskriptif
print(description)

               No  X1 transaction date  X2 house age  \
count  414.000000           414.000000    414.000000
mean   207.500000          2013.148971     17.712560
std    119.655756             0.281967     11.392485
min      1.000000          2012.667000      0.000000
25%    104.250000          2012.917000      9.025000
50%    207.500000          2013.167000     16.100000
75%    310.750000          2013.417000     28.150000
max    414.000000          2013.583000     43.800000

       X3 distance to the nearest MRT station  \
count                              414.000000
mean                              1083.885689
std                               1262.109595
min                                 23.382840
25%                                289.324800
50%                                492.231300
75%                               1454.279000
max                               6488.021000

       X4 number of convenience stores  X5 latitude  X6 longitude  \
count                       414.000000   414.000000    414.000000
mean                          4.094203    24.969030    121.533361
std                           2.945562     0.012410      0.015347
min                           0.000000    24.932070    121.473530
25%                           1.000000    24.963000    121.528085
50%                           4.000000    24.971100    121.538630
75%                           6.000000    24.977455    121.543305
max                          10.000000    25.014590    121.566270

       Y house price of unit area
count                  414.000000
mean                    37.980193
std                     13.606488
min                      7.600000
25%                     27.700000
50%                     38.450000
75%                     46.600000
max                    117.500000

In [44]:
# 4
import pandas as pd

# Mengimpor dataset dari URL
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv"
data = pd.read_csv(url)

# Menghapus kolom 'No'
data = data.drop(columns=['No'])

# Mengubah nama kolom
data.columns = ['transaction date', 'house age', 'distance to the nearest MRT station',
                'number of convenience stores', 'latitude', 'longitude',
                'house price of unit area']

# Menampilkan DataFrame setelah penghapusan dan pengubahan nama kolom
print(data.head())

   transaction date  house age  distance to the nearest MRT station  \
0          2012.917       32.0                             84.87882
1          2012.917       19.5                            306.59470
2          2013.583       13.3                            561.98450
3          2013.500       13.3                            561.98450
4          2012.833        5.0                            390.56840

   number of convenience stores  latitude  longitude  house price of unit area
0                            10  24.98298  121.54024                      37.9
1                             9  24.98034  121.53951                      42.2
2                             5  24.98746  121.54391                      47.3
3                             5  24.98746  121.54391                      54.8
4                             5  24.97937  121.54245                      43.1

In [45]:
# 5
import pandas as pd

# Mengimpor dataset dari URL
url = "https://raw.githubusercontent.com/michellechandraa/TutorDataMining/main/real_estate.csv"
data = pd.read_csv(url)

# Menghapus kolom 'No'
data = data.drop(columns=['No'])

# Mengubah nama kolom
data.columns = ['transaction date', 'house age', 'distance to the nearest MRT station',
                'number of convenience stores', 'latitude', 'longitude',
                'house price of unit area']

# Mengecek missing values
missing_values = data.isnull().sum()

# Menampilkan jumlah missing values untuk setiap kolom
print(missing_values)

transaction date                       0
house age                              0
distance to the nearest MRT station    0
number of convenience stores           0
latitude                               0
longitude                              0
house price of unit area               0
dtype: int64

## **Goodluck :)**